---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import profilePh from "../img/PhotoLknd.jpg";
import SocialButton from "../components/SocialButton.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Github from "../components/icons/Github.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from '../components/icons/Code.astro'
---

<Layout
	title="Porfolio Nicolas - desarrollador y programador web front-end"
	description="Abierto a contrataci칩n para desarrollo web con uso de React y/o Astro"
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<Image
				class="rounded-2xl w-16 h-18 mb-6 hover:scale-125 transition"
				title="Hello World!"
				src={profilePh}
				alt="Photo"
			/>
			<h1
				class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-8"
			>
				Hey, Soy Nicol치s <div class="flex items-center">
					<a
						href="https://www.linkedin.com/in/nicol%C3%A1s-garc%C3%ADa-l%C3%B3pez-/"
						target="_blank"
						class="flex items-center"
					>
						<Badge>Disponible para trabajar</Badge>
					</a>
				</div>
			</h1>
			<h2
				class="text-xl lg:text-2xl lg:pb-6 text-wrap max-w-[700px] opacity-80"
			>
				<span class="text-yellow-200 font-semibold">
					Desarrollador Front-End</span
				> de Bogot치, Colombia 游깶. <span class="opacity-90">
					Especializado en crear paginas web unicas.</span
				>
			</h2>

			<nav class="flex gap-4 mt-4 flex-wrap">
				<SocialButton
					href="https://www.linkedin.com/in/nicol%C3%A1s-garc%C3%ADa-l%C3%B3pez-/"
				>
					<LinkedIn class="size-4 md:size-6" /> Nicol치s Garc칤a L.
				</SocialButton>
				<SocialButton href="https://github.com/XnicolasG">
					<Github class="size-4 md:size-6" /> XnicolasG
				</SocialButton>
				<SocialButton href="mailto:nicolasg.ngl@gmail.com">
					<Mail class="size-4 md:size-6" /> nicolasg.ngl@gmail.com
				</SocialButton>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="flex items-center gap-x-2 text-2xl font-semibold mb-8">
				<Briefcase class="size-7" />
				Experiencia Laboral
			</h2>
			<Experience />
		</SectionContainer>
		
		<SectionContainer id="projects">
			<h2 class="flex items-center gap-x-2 text-2xl font-semibold mt-16 mb-8">
				<Code class="size-7 "/>
				Proyectos Personales
			</h2>
		</SectionContainer>
	</main>
</Layout>
